.redclay-page{
    width:100%;
    background:#fff;
}

/* Banner */

.redclay-banner{
    height:320px;
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    padding-left:130px;
}

.redclay-banner h1{
    color:#fff;
    font-size:48px;
    font-weight:bold;
}

/* Breadcrumb */

.breadcrumb{
    background:#f3f3f3;
    padding:18px 130px;
    font-size:15px;
    color:#555;
}

/* Product */

.product-section{
    display:flex;
    gap:60px;
    padding:70px 130px;
    align-items:flex-start;
}

.product-image{
    border-left:10px solid red;
    border-bottom:10px solid red;
    padding:20px;
}

.product-image img{
    width:320px;
    display:block;
}

.product-details{
    flex:1;
}

.product-details h2{
    font-size:34px;
    color:#333;
    margin-bottom:20px;
}

.product-details p{
    color:#666;
    line-height:1.9;
    font-size:17px;
}

.info-table{
    width:100%;
    margin-top:25px;
    border-collapse:collapse;
}

.info-table td{
    border:1px solid #ddd;
    padding:15px;
}

/* Tabs */

.tabs{
    display:flex;
    margin:0 130px;
}

.tabs button{
    border:none;
    background:#efefef;
    padding:15px 30px;
    cursor:pointer;
    font-size:16px;
    border-top:3px solid transparent;
}

.tabs button.active{
    background:#fff;
    border-top:3px solid red;
    font-weight:bold;
}

/* Content */

.tab-content{
    margin:0 130px 70px;
    border:1px solid #ddd;
    padding:35px;
}

.tab-content h2{
    margin-bottom:20px;
    color:#333;
}

.tab-content p{
    line-height:2;
    color:#666;
}

/* Specification */

.spec-table{
    width:100%;
    border-collapse:collapse;
}

.spec-table td{
    border:1px solid #ddd;
    padding:15px;
}

.spec-table tr:nth-child(even){
    background:#fafafa;
}

/* Responsive */

@media(max-width:900px){

.product-section{
    flex-direction:column;
    padding:40px 20px;
}

.product-image{
    width:100%;
    text-align:center;
}

.product-image img{
    width:250px;
}

.redclay-banner{
    padding-left:20px;
}

.breadcrumb,
.tabs,
.tab-content{
    margin:0 20px;
    padding-left:20px;
    padding-right:20px;
}
.video-container {
  width: 100%;
  margin-top: 20px;
}

.video-container iframe {
  width: 100%;
  border: none;
  border-radius: 8px;
}

}