*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
    -webkit-tap-highlight-color:transparent;
}

html,
body,
#root{
    width:100%;
    overflow-x:hidden;
}

body{
    background:#fff;
}

img{
    max-width:100%;
    height:auto;
    display:block;
}